<div class="container"></div>
<h1>Bem vindo à Comunidade CoderChat</h1>
<div>
  <input type="text" id="messageInput" placeholder="Digite uma mensagem..." />
  <button onclick="sendMessage()">Enviar</button>
</div>
  <div id="chatBox"></div>
</div>

<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="/socket.io/socket.io.js"></script>
<script src="/js/index.js"></script>
